.navbar {
  padding: 10px 0;
  background-color: #1e94d2;
}

.navbar-toggle {
  color: #fff;
}

.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  margin: 0;
  padding: 0;
  z-index: 9998;

  background-color: #1e94d2;

  list-style: none;

}

li a {
  display: block;
  color: #e9f1f1;
  padding: 8px 12px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #43a6db;
  color: white;
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #43a6db;
  text-align: center;

  text-transform: uppercase;
  font-weight: bold;
  color: rgb(247, 250, 253);
}

.navbar-menuitem {
  padding: 8px;
}

.navbar-menuitem a {
  color: #e9ebf1;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: white;
}

.navbar-menuitem.ativo {
  background-color: #1e94d2;
}
